* {
  box-sizing: border-box;
  line-height: normal;
}

/* Main container styles */
.container {
  background-color: #a700; 
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif; 
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  
}

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.dhiwise-code,
.dhiwise-navigation {
  min-height: 100%;
}
.common-pointer {
  cursor: pointer;
}
.dhiwise-navigation {
  padding: 20px;
  background-color: #232323;
}
.dhiwise-navigation h1 {
  color: white;
}
.dhiwise-navigation .headline {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}
.dhiwise-navigation ul {
  padding: 0;
}
.dhiwise-navigation ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.dhiwise-navigation a {
  color: #132cdc;
}
table {
  border-spacing: 0;
  width: 100%;
}
.common-select {
  z-index: 10000;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
.drawable-icon{
  position: absolute;
  margin: auto;
  z-index: 1000;
}
.input-wrap{
  position: relative;
}
option{
  color: #000;
}
.table-wrap{
  overflow: auto;
}
input:focus{
  outline:none;
}
.ReactModal__Body--open{
  overflow: hidden;
}
  .slider-indicator:first-child {
    margin-left: 0;
}

.slider-indicator:last-child {
margin-right: 0;
}

.rc-drawer-content-wrapper{
  width: 100% !important;
}
.rc-drawer-right .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-end;
}
.rc-drawer-left .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-start;
}
.ReactModal__Overlay{
  z-index: 1051;
}

ul li a{
  display: block;
}

.mobile-menu div{
  height: 1.5px;
  width: 20px;
  background-color: #000;
  margin:4px 0;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.header-row{
  align-items:center;
  justify-content: space-between;
  display: flex;
}
@media only screen and (min-width: 200px) and (max-width: 550px)  {
  .mobile-menu {
    display: block;
  }
  .header-row{
    width: 100% !important;
  }
  .display-block{
    display: block;
  }
  .display-none{
    display: none;
  }
  .common-row-list > ul{
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
}
.menu-close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
}
.menu-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  left: 0px;
  top: 0px;
}
.close-line1{
  transform: translate(0, 6px) rotate(-45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.close-line2{
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.common-row-list > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 1;
}

.common-column-list > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.common-column-list li{
  width: 100%;
}

/* scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}



/* Common button styles */
.button {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  min-width: 129px;
  text-align: center;
  text-transform: uppercase;

}
@media (max-width: 767px) {
  .button {
    margin: 0 auto;
  }
}

/* Text size and tracking styles */
.text-sm {
  font-size: 14px;
  letter-spacing: -0.28px;
  font-weight: bold;
}


.image {
  object-fit: cover;
  flex: 1;
  height: auto;
  width: 100%;
  height: 416px;
  width: 414px;
}


/* Header styles */
.header {
  background-color: #5000a6; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  width: 100%;
}

/* Medium breakpoint styles */
@media (min-width: 768px) {
  .md-flex-col {
    flex-direction: column;
  }
  .md-gap-2 {
    gap: 2px; 
  }
  .md-px-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}


/* Logo image styles */
.logo {
  height: 25px;
  width: 238px;
}

/* Navigation bar styles */
.navList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  justify-content: start;
  width: auto;
}

/* Small screen styles */
@media (max-width: 767px) {
  .smFlexCol {
    flex-direction: column;
  }
  .smHidden {
    display: none;
  }
}

/* Common link styles */
.link {
  font-size: 14px;
  color: #fff; 
  text-decoration: none;
}


/* Image container styles */
.image-container {
  position: relative;
  width:100%;
  height: 700px; 
  padding: 0px; 
}

/* Image styles */
.image-home {
  height: 700px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Absolute positioned gradient box styles */
.gradient-box {
  position: absolute;
  background: linear-gradient(to top, #68b584,#71b568,#68b2b5, transparent); /* Adjust gradient colors based on your design */
  bottom: 1%;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: start;
  max-width: 630px;
  padding: 20px 18px;
  width: 100%;
}

/* Text styles */
.text-home {
  text-transform: capitalize;
  max-width: 556px;
  font-size: 5xl;
  line-height: 100%; 
  color: #fff; 
  letter-spacing: -0.96px;
}



/* Container for the section */
.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center;
  justify-content: space-between;
  max-width: 1064px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

/* Responsive styles for medium screens and above */
@media (min-width: 768px) {
  .section-container {
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
  }
}



/* Text container styles */
.text-container {
  max-width: 542px;
  font-size: 16px;
  line-height: 1.5; /* Adjust the line height based on your design */
  color: #000; /* Adjust the color based on your design */
}

@media (min-width: 768px) {
  .text-container {
    max-width: 100%;
  }
}


/* Container styles */
.poppins-container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  align-items: start;
  justify-content: start;
  width: auto;
}



/* Title styles */
.title {
  font-size: 27px;
  color: #5000a6; /* Assuming deep_purple-500 corresponds to a color code */
  letter-spacing: 0.40px;
}


/* Container styles */
.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: start;
  width: 542px;
}

.text-custom {
  text-transform: capitalize;
  max-width: 556px;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
  letter-spacing: -0.96px;
}